@import url(cards.css);
.all-articles {
  background-color: var(--gray);
  align-items: center;
  padding: 40px;
  display: none;
}

.all-articles h2 {
  width: 600px;
}
.articles {
  margin-top: 40px;
}
.display-all-button {
  display: none;
  height: 100px;
  justify-content: center;
}
.filter-categories {
  width: 100%;
}
