.cards-container {
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}
.card {
  width: 320px;
  height: 600px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  gap: 0px;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--white);
}
.card img {
  height: 300px;
  width: 320px;
  object-fit: cover;
}
.card-category {
  height: 50px;
  width: 100%;
}
.card p {
  margin: 0px;
}
.card-category p {
  line-height: 50px;
  font-family: "Oswald", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
}
.card-short-summary p {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.card-text {
  padding: 0px 20px;
  gap: 20px;
  color: var(--black);
}
.card-text h2 {
  margin: 0px;
  margin-top: 10px;
  height: 60px;
}
.card-author {
  font-size: 0.9rem;
}
.card-info {
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
.card-info p {
  font-weight: 400;
}
.card-link {
  text-decoration: underline;
  color: var(--blue-link);
  font-size: 1.125rem;
}
.News {
  background-color: var(--forest-green);
}
.Review {
  background-color: var(--blue);
}
.Tutorial {
  background-color: var(--green);
}
