.contact-form {
  background-color: var(--light-gray);
  margin: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.25);
}
form {
  padding: 30px 60px;
  gap: 24px;
}
form > * {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 1.2rem;
}
form > * > * {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.fieldset {
  padding: 20px 40px;
  gap: 28px;
}
legend {
  font-size: 1.5rem;
}
span {
  font-size: 0.8rem;
}
input,
textarea {
  height: 32px;
  border-radius: 4px;
  border: 0px;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.75);
  padding: 8px 8px;
}

#subject {
  height: 60px;
}
#message {
  height: 120px;
}
.submit-form {
  font-size: 1.2rem;
  height: 40px;
  text-transform: none;
  font-weight: 400;
}
.success-icon {
  font-size: 3rem;
  font-weight: 600;
  color: var(--green);
  text-align: center;
  margin: auto;
  border: 4px solid var(--green);
  width: fit-content;
  padding: 5px 20px;
  border-radius: 50%;
}
.form-success {
  display: none;
  max-width: 500px;
  border: 4px solid var(--green);
  border-radius: 8px;
  padding: 40px 60px;
}
.form-success p {
  padding: 0px;
  margin: 12px 0px;
  word-wrap: break-word;
}
.form-success-p {
  font-weight: 600;
  font-size: 1.2rem;
}

.form-success-cta-container {
  justify-content: space-between;
  padding: 30px 0px;
}
.form-success-cta {
  width: 160px;
  height: 40px;
  font-size: 1rem;
}
