@import url(cards.css);
@import url(carousel.css);

.splash-background {
  background-color: var(--gray);
  align-items: center;
  padding: 0px 40px;
}
.splash,
.carousel-container,
.index-cards-container {
  max-width: 1440px;
  margin: auto;
  align-items: center;
}

.splash {
  width: 100%;
  background-color: var(--black);
  max-height: 1000px;
}
.splash-img h1 {
  background: rgba(81, 81, 81, 0.75);
  width: fit-content;
  height: fit-content;
  padding: 8px 12px;
  font-size: 3rem;
  color: var(--white);
}
.splash-img {
  background-image: url(/images/splashresized.jpg);
  width: 100%;
  height: 55vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.splash-subscribe {
  width: 360px;
  height: 30vh;
  min-height: 200px;
  align-items: center;
  justify-content: center;
}
.splash-subscribe-header {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  margin: 8px;
  font-weight: bold;
}
.splash-subscribe-text {
  font-size: 1.25rem;
  font-weight: 300;
}
.latest-articles {
  background-color: var(--gray);
  padding: 20px;
  border-radius: 8px 8px 0px 0px;
  margin: 0;
  margin-top: 40px;
  font-size: 2.5rem;
}

.h3-container {
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 70%;
  padding-top: 40px;
}
.index-line {
  height: 75%;
  border: 1px solid var(--dark-gray);
  flex-grow: 0;
  width: 80%;
}
