nav {
  position: sticky;
  top: 0;
}
.nav-background-top {
  background-color: var(--black);
}
.nav-background-bottom,
footer {
  background-color: var(--dark-gray);
}
.nav-background-top,
.nav-background-bottom {
  padding: 0px 40px;
}

.top-nav,
.nav,
.footer {
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: auto;
}
.top-nav {
  color: var(--white);
  height: 40px;
}
.top-nav > * {
  align-items: center;
  gap: 16px;
}

.top-nav-text {
  justify-content: end;
}
.top-nav-icons img,
.footer-icons img {
  width: 24px;
  height: 24;
}
.nav {
  height: 120px;
  background-color: var(--dark-gray);
  position: relative;
}
.nav > * {
  align-items: center;
}
.nav-logo {
  gap: 12px;
  color: var(--white);
}
.nav-logo img,
.footer-logo img {
  width: 80px;
  height: 80px;
}
.nav-logo-toptext {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
.nav-logo-text {
  font-size: 1.3rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.nav-menu > * {
  height: 50px;
  color: var(--white);
  text-decoration: none;
  padding: 0px 32px;
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 50px;
}
/* Blue gradient background for current page */
.current-page {
  /* background: linear-gradient(32.38deg, #0639dc 13.43%, #298ffe 86.72%); */
  text-decoration: underline solid 4px;
}
.nav-menu a:hover {
  background: var(--gray);
  color: var(--black);
}
.nav-menu.active {
  display: flex;
  position: sticky;
  top: 124px;
  left: 0;
  background-color: var(--dark-gray);
}

.hamburger-toggle {
  flex-direction: column;
  justify-content: space-between;
  right: 0px;
  position: absolute;
  width: 60px;
  height: 40px;
  display: none;
  margin: 20px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.hamburger-bar {
  border-radius: 10px;
  height: 5px;
  width: 100%;
  background-color: var(--white);
}
footer {
  height: 300px;
}

.footer-copy {
  text-align: center;
  background-color: var(--black);
  color: var(--white);
  height: 30px;
  line-height: 30px;
  width: 100%;
}
.footer {
  align-items: center;
  justify-content: space-between;
  height: 270px;
  padding: 0px 40px;
}

.footer-subscribe {
  width: 360px;
}

.footer-icons > * {
  text-decoration: none;

  gap: 8px;
}

.footer-nav > *,
.footer-icons > * {
  color: var(--white);
  font-size: 1.25rem;
  height: 40px;
  display: flex;
  align-items: center;
}
.footer-line {
  height: 75%;
  border: 1px solid var(--gray);
  flex-grow: 0;
}
