h1 {
  font-size: 2.5rem;
  margin: 40px 0px;
}
h3 {
  margin: 0;
}
main {
  margin: auto;
  padding: 40px;
}
.category-title {
  width: fit-content;
  padding: 0px 40px;
  border-radius: 8px;
}
.article-container {
  max-width: 900px;
  margin: 0px auto;
  padding-bottom: 60px;
  background-color: var(--white);
}
.specific-article-header {
  padding: 0px 100px;
}
.specific-article-header p {
  margin: 10px 0px;
  font-size: 1.2rem;
}
.specific-article p:first-of-type {
  font-size: 1.2rem;
  font-weight: 600;
}
.specific-article figure {
  margin: 0px 60px;
  position: relative;
}
.specific-article img {
  width: 100%;
  height: auto;
  cursor: zoom-in;
}
#zoom {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 54px;
  height: 54px;
  padding: 4px;
  border-radius: 8px;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.6;
}
.specific-article h2 {
  padding: 20px 100px;
  margin: 0px;
}

.specific-article p {
  padding: 10px 100px 30px 100px;
  margin: 0;
}
.specific-article figcaption {
  text-align: center;
  font-size: 0.8rem;
}

/* Related Articles Testing  */

.related-articles {
  gap: 100px;
  margin-left: 1px;
  width: 539px;
  background-color: var(--white);
  padding: 40px 60px;
  align-items: center;
}
.subscribe-form {
  justify-content: center;
}
.subscribe-header,
.subscribe-text,
.subscribe-submit {
  color: var(--black);
}

.subscribe-email {
  background-color: var(--black);
}
.subscribe-submit {
  background: linear-gradient(32.38deg, #0639dc 13.43%, #298ffe 86.72%);
}
.subscribe-email:focus {
  z-index: 1;
  background-color: var(--white);
  outline: 3px solid var(--black);
}

.related-cards-container {
  gap: 40px;
  align-items: center;
}
.subscribe {
  max-width: 320px;
}
.cta-container {
  padding: 40px;
  justify-content: center;
}

/* Hides modal "button" */
#modal {
  display: none;
}

#modal-root {
  position: fixed;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  left: 0;
  top: 0;
  width: 0px;
  height: 0px;
  opacity: 0;
  cursor: zoom-out;
  transition: opacity 0.2s ease-out, width 0s linear 0.2s, height 0s linear 0.2s;
}

#modal-root.visible {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}
#modal-fig {
  width: 100vh;
  height: 100vh;
}
.modal {
  padding: 40px;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#modal-figcap {
  color: var(--white);
  font-size: 1.25rem;
  text-align: center;
  padding: 6px 20px;
  border-radius: 0px 0px 8px 8px;
  background-color: rgba(0, 0, 0, 0.2);
}
#modal-img {
  display: block;
  width: 100%;
  max-width: 1000px;
}
