@import url(nav.css);
@import url(loader.css);
@import url("https://fonts.cdnfonts.com/css/trebuchet-ms-2");
@import url("https://fonts.cdnfonts.com/css/oswald-4");

:root {
  --white: #ffffff;
  --light-blue: #a4cff5;
  --green: #508810;
  --forest-green: #27998a;
  --gray: #d1d1d1;
  --light-gray: #eaeaea;
  --dark-gray: #515151;
  --black: #020501;
  --blue: #1e73be;
  --blue-link: #2200cc;
  --placeholder: rgba(2, 5, 1, 0.65);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/*  
linear-gradient(32.38deg, #0639dc 13.43%, #298ffe 86.72%);
linear-gradient(301.58deg, #083dde 8.24%, #288bfd 81.76%); 
*/

body {
  margin: 0px;
  font-family: "Trebuchet MS", sans-serif;
  background-color: var(--light-gray);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  padding: 40px 0px;
}
h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
  /* font-family: "Oswald Regular", sans-serif;
  font-family: "Oswald Stencil", sans-serif; */
}

h3 {
  font-size: 2rem;
}
p {
  font-size: 1.125rem;
}
.cta-container {
  padding-top: 40px;
}
.cta {
  background: linear-gradient(32.38deg, #0639dc 13.43%, #298ffe 86.72%);
  width: 310px;
  height: 60px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 1.4rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  border: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.width-container {
  max-width: 1440px;
  margin: auto;
  align-items: center;
}
.padding-container {
  padding: 0px 40px;
}
.link {
  color: var(--blue-link);
  text-decoration-line: underline;
}
.subscribe-header,
.subscribe-text,
.subscribe-submit {
  color: var(--white);
  font-size: 1.1rem;
}
.subscribe-header {
  font-size: 1.4rem;
  text-align: center;
}
/* .subscribe-text {
}
.subscribe-form {
} */
.subscribe-email {
  width: 280px;
  border: none;
  padding: 4px 8px;
  background-color: var(--white);
  border-radius: 8px 0px 0px 8px;
}
.subscribe-submit {
  height: 40px;
  border: none;
  cursor: pointer;
  width: 180px;
  text-align: center;
  background: linear-gradient(32.38deg, #0639dc 13.43%, #298ffe 86.72%);
  border-radius: 0px 8px 8px 0px;
}
.subscribe-email:focus {
  z-index: 1;
  background-color: var(--gray);
  outline: 3px solid var(--black);
}
