@import url(nav.css);
@import url(loader.css);
@import url("https://fonts.cdnfonts.com/css/trebuchet-ms-2");
@import url("https://fonts.cdnfonts.com/css/oswald-4");

:root {
  --white: #ffffff;
  --light-blue: #a4cff5;
  --green: #4b850f;
  --forest-green: #21837c;
  --gray: #d1d1d1;
  --light-gray: #eaeaea;
  --dark-gray: #515151;
  --black: #020501;
  --blue: #1e73be;
  --blue-link: #2200cc;
  --red: #ff0033;
  --placeholder: rgba(2, 5, 1, 0.65);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: "Trebuchet MS", sans-serif;
  background-color: var(--light-gray);
  min-height: 100vh;
}
main {
  padding: 40px 0px;
  min-height: 80vh;
}
h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
}
h1 {
  font-weight: 600;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1.125rem;
}
.send-tip {
  color: var(--white);
  text-decoration: none;
}
.cta-container {
  padding: 40px 0px;
  display: flex;
  justify-content: center;
}
.cta {
  background: linear-gradient(32.38deg, #0830b6 13.43%, #2178d6 86.72%);
  width: 280px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 1.3rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  border: none;
  transition: 0.3s;
}
.cta:hover {
  background: linear-gradient(32.38deg, #0639dc 13.43%, #298ffe 86.72%);
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.width-container {
  max-width: 1440px;
  margin: 0px auto;
  align-items: center;
}
.padding-container {
  padding: 0px 40px;
}
.link {
  color: var(--blue-link);
  text-decoration-line: underline;
}
.subscribe-header,
.subscribe-text,
.subscribe-submit {
  color: var(--white);
  font-size: 1.1rem;
}
.subscribe-header {
  font-size: 1.4rem;
  text-align: center;
}
.subscribe-email {
  max-width: 280px;
  border: none;
  padding: 4px 8px;
  background-color: var(--white);
  border-radius: 8px 0px 0px 8px;
}
.subscribe-submit {
  height: 40px;
  border: none;
  cursor: pointer;
  max-width: 180px;
  width: 100%;
  text-align: center;
  background: linear-gradient(32.38deg, #0830b6 13.43%, #2178d6 86.72%);
  border-radius: 0px 8px 8px 0px;
  transition: 0.3s;
  padding: 8px;
}
.subscribe-submit:hover {
  background: linear-gradient(32.38deg, #0639dc 13.43%, #298ffe 86.72%);
}
.subscribe-email:focus {
  z-index: 1;
  outline: 2px solid var(--black);
}
.error-container {
  align-items: center;
  border-radius: 8px;
  width: 340px;
  padding: 30px;
  margin: 10px;
  background-color: var(--white);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}
.error-icon {
  font-size: 4rem;
  border: 6px solid var(--red);
  color: var(--red);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.error-text {
  width: 300px;
  padding: 10px;
}
